name: Run Terratest

on:
  workflow_dispatch:
    inputs:
      send_notification:
        type: boolean
        default: false
  schedule:
    - cron: '*/5 * * * *'

jobs:
  test:
    
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && !contains(inputs.send_notification, 'false') }}
    steps:
      - run: echo "has run"